autopep8
flake8
signate
kaggle
Pillow
wordcloud
### Jupyter
# jupyterthemes
jupyterlab_templates
jupyterlab_execute_time
lckr-jupyterlab-variableinspector
jupyterlab_code_formatter
jupyterlab_widgets
jupyterlab-lsp
# jupyterlab-vim
# jupyterlab-vimrc
# jupyter_ai
jedi-language-server
ipywidgets
ipympl
RISE
### Visualization
japanize_matplotlib
dtale
plotly
dash
sweetviz
### ML
# pyclustering
# hmmlearn
xgboost
lightgbm
catboost
### NLP
# transformers
# sentence_transformers
# fugashi
# ipadic