plotly
RISE
wordcloud
pyclustering
hmmlearn
Pillow
japanize_matplotlib
ipympl
dtale
sweetviz
sshtunnel
pymysql
jupyterthemes
jupyter-resource-usage
jupyterlab_templates
jupyterlab_execute_time
lckr-jupyterlab-variableinspector
jupyterlab_code_formatter
jupyterlab-git
jupyterlab_widgets
ipywidgets
xgboost
lightgbm
xgboost
catboost